version: '3.4'

services:
  recall-zipkin:
    image: openzipkin/zipkin-slim:latest
    
    
  recall-sqldata:
    image: mcr.microsoft.com/mssql/server:2019-latest
    extra_hosts:
      - "host.docker.internal:host-gateway"


  recall-textlistapi:
    image: recall-textlistapi
    build:
      context: .
      dockerfile: Contrib/TextList.Api/Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"


  recall-textlistapi-dapr:
    image: "daprio/daprd:1.9.4"
    network_mode: "service:recall-textlistapi"
    depends_on:
      - recall-textlistapi